
h1{
    text-align: center;
    font-size: 40px;
}


/*paragraph welcoming user*/
.welcomeText{
    background-color: #F7F1DE ;
    margin-left: 5%;
    margin-right: 5%;
}

.welcomeText p{
    color: black;
    text-align: center;
    font-size: 24px;
}

